:root {
  --primaryColor:#C83D2F;
  --secondaryColor:#F9F9F9;
  --tertiaryColor:#9C9B99;
  --quartenaryColor:#707070;
  
  --unnamed-color-f3f3f3: #F3F3F3;

  --greyColor:#EEEEEE;
  --greyColor500:#E5E5E5;

  --shadow:#00000029;
}


.bg-selbetti {
  background-color: var(--primaryColor) !important;
}

.bgTextSelbetti {
  color: var(--primaryColor) !important;
}

.bgInfoSelbetti {
  color: var(--primaryColor) !important;
  font-weight: bold !important;
}

.bgTextForm {
  color: var(--tertiaryColor) !important;
}