.wrapper > .field > .card > .card-body .wrapperForm {
  margin: auto;
  max-width: 325px;
}

.wrapper > .field > .card > .card-body .form-control {
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  height: 46px;
}

.wrapper > .field > .card > .card-body .phoneInputDDD,
.wrapper > .field > .card > .card-body .phoneInputDDI {
  width: 62px;
}

.wrapper > .field > .card > .card-body .phoneInputDDD {
  margin-left: 7px;
}

.wrapper > .field > .card > .card-body .phoneInputNumber{
  max-width: 194px;
  width: 100%;
  margin-left: 14px;
}

.wrapper > .field > .card > .card-body .form-control:focus{
  box-shadow: none;
}

.wrapper > .field > .card > .card-body .input-group-text {
  background-color: var(--greyColor);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.wrapper > .field > .card > .card-body .phoneInput {
  margin-top: 32px;
}

.fontTextForm {
  font-size: 14px !important;
  line-height: 16px !important; 
}