.wrapper > .field > .card > .card-body > .loading  {
  max-width: 325px;
  margin: 0 auto;
}

.wrapper > .field > .card > .card-body > .loading .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper > .field > .card > .card-body > .loading .spinner-border {
  background-image: url('../img/spinner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;

  margin-top: 204px;
}

.wrapper > .field > .card > .card-body > .loading .card-text {
  color: var(--primaryColor);
  letter-spacing: 0px;
  font-size:24px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}