@import url('color.css');
@import url('form.css');
@import url('progress.css');
@import url('segment.css');
@import url('loading.css');
@import url('button.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--unnamed-color-f3f3f3);
}

.stripe {
  background-color: var(--primaryColor);
  height: 201px;
}

.wrapper {
  margin: auto auto 50px;
  max-width: 450px;
}

.wrapper > .cardPlan > .card,
.wrapper > .cardCongratulation > .card {
  background-color: var(--secondaryColor);
  margin-top: -154px;

  height:155px;
  border: none;
}

.wrapper > .cardPlan > .card > .card-body .card-title, 
.wrapper > .cardCongratulation > .card > .card-body .card-title {
  color: var(--primaryColor);
  letter-spacing: 0px;

  text-align: center;

  font-size: 24px;
  font-weight: bold;
}

.wrapper > .cardPlan > .card > .card-body > .card-title p {
  color: var(--quartenaryColor);

  font-size: 18px;
  font-weight: normal;
}

.wrapper > .cardPlan > .card > .card-body > .info, 
.wrapper > .cardCongratulation > .card > .card-body > .info {
  max-width: 355px;
  margin: 0 auto;
}

.wrapper > .cardPlan > .card > .card-body > .info h5 {
  color: var(--primaryColor);
  letter-spacing: 0px;

  text-align: center;

  font-size: 18px;
  font-weight: bold;
}

.wrapper > .cardPlan > .card > .card-body > .info p {
  color: var(--quartenaryColor);

  letter-spacing: 0px;
  text-align: center;

  font-size: 11px;
}


/*Card Congratulations*/
.wrapper > .cardCongratulation > .card > .card-body > .info p {
  color: var(--quartenaryColor);

  letter-spacing: 0px;
  text-align: center;

  font-size: 18px;

  line-height: 22px;

  padding-top: 12px;
}

.wrapper > .field > .card {
  background-color: var(--unnamed-color-f3f3f3);

  box-shadow: 0px 3px 30px var(--shadow);
  height:644px;
  border: none;

  display:flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 450px) {
  .wrapper {
    padding: 4px;
  }

  .wrapper > .cardPlan > .card {
    margin-top: -158px;
  }

  .wrapper > .cardPlan > .card > .card-body .card-title {
    font-size: 22px;
  }
}

